* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #f1f1f1;
}

header {
    background-color: white;
    text-align: center;
    padding: 30px;
}
header h1 {
    font-size: 50px;
}

nav {
    background-color: antiquewhite;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color:orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
nav a:hover {
    background-color:tomato;
    border-radius: 25px;
    color: white;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;  
}

.card {
    background-color: tomato;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


  .gallery .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .gallery .content .card{
    width: 340px;
    margin: 15px;
  }
  
  .gallery .content .card .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .gallery .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

footer {
    padding: 20px;
    text-align: center;
    background-color: gainsboro;
    margin-top: 20px;
}
@media screen and (max-width: 500px) {
    .section, .article {
        width: 100%;
        padding: 0;
    }
}